.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  display: flex;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#location-listing {
  background: black;
  color: white;
  height: 100%;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 10px 10px 30px;
  text-align: left;
  width: 340px;
  position: fixed;
  left: -500px;
  z-index: 1;
}

.open-location-list-button {
  z-index: 1;
  position: fixed;
  width: 120px;
  height: 40px;
}

.close-location-list-button {
  width: 120px;
  height: 40px;
}

.search-bar {
  width: 100%;
  height: 25px;
}

.location-items {
  list-style-type: none;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  #location-listing {
    width: 150px;
    font-size: 12px;
  }
  .header {
    font-size: 11px;
  }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
  #location-listing {
    width: 240px;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  #location-listing {
    width: 320px;
  }
}
